body{
    margin: 0;
    padding: 0;
    background-image: url("../img/fond\ gris.jpg");
    background-repeat: no-repeat;
}

#milieuPage{
    border: 2px solid white;
    margin: 50px;
    border-radius: 10px;
    display: flex;
    padding-bottom:50px ;
}

#milieuPageGauche{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    float: left;
}

#titre{
    font-size: small;
    color: white;
    border-bottom: 2px solid red;
    padding-left: 50px;
    padding-right: 50px;    
    margin:50px;
    word-spacing: 1%;
    letter-spacing: 10px;
    text-align: center;
}

#texte{
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    width: 70%;
    padding-left: 10px;
}

#langage img{
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

#java{
    color: white;
    font-size: larger;
    float: left;
    margin: 35px;
}

#milieuPageDroite{
    width: 49.7%;
    display: flex;   
    flex-direction: column;
    align-items: end;
    float: left;
}

#imgOdomo{
    border-radius: 10px;
}

#imgOdomo img{
    width: 90%;
    float: right;
    border-radius: 10px;
}

@media screen and (max-width:600px) {
    #langage img{
        width: 20%;
        height: auto;
    }

    #milieuPage{
        flex-direction: column;
        border: 2px solid red;
        align-items: center;
    }

    #titre{
        font-size: ;
        text-align: center;
    }
}

@media screen and (max-width:1200px) {
    #milieuPage{
        flex-direction: column;
        border: 2px solid white;
        align-items: center;
        padding-bottom:50px ;
        margin-bottom: 100px;
    }

    #texte{
        width: 85%;
    }
}
